[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
#enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
#disable=missing-module-docstring,missing-function-docstring,missing-class-docstring,invalid-name,line-too-long,fixme
disable=missing-module-docstring,missing-function-docstring,missing-class-docstring

[FORMAT]
max-line-length=124
good-names=i,x,y,z,a,b,c,d,p,t0,t1,ec,xp,dx,dy,oc,p0,p1

[TYPECHECK]
#ignored-modules=torch
ignored-classes=*_pb2
generated-members=api_pb2.*

